<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>
            QR Scanner
        </title>
    </head>
    <body>
        <h1>QR Scanner Example</h1>
        <form action="/scanQRCode" method="POST">
        <input type="url" name="url" placeholder="url">
        <input type="submit" value="Get QR">
        </form>
    </body>
</html>